$theme-colors: (
    "gunmetal": rgba(45, 48, 71, 1),
    "khakhi": rgba(227, 222, 143, 1),
    "spring": rgba(237, 251, 193, 1),
    "saffron": rgba(241, 154, 62, 1),
    "burgundy": rgba(64, 50, 51, 1)
);

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);


@import "./node_modules/bootstrap/scss/bootstrap";

html {
    font-family: 'Open Sans', 'Roboto', 'Segoe UI', sans-serif;
}

h1 {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 3.5rem;
}

.figure {
    @extend .w-100;
}

pre {
    @extend .border;
    @extend .p-2;
    @extend .w-100;

    border-radius: 5px;
}

i.circle {
    border: 3px solid #000;
    border-radius: 100%;
    padding: 20px;
    height: 94px;
    width: 94px;
}

code {
    color: map-get($theme-colors, "spring");
}

@media (max-width: 992px) { 
    #tips div[class*="col-"] {
        border: none !important;
    }
}